.main1_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.use_state1_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.use_state1_container button {
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid rgb(53, 236, 53);
  cursor: pointer;
}
.use_state1_container button:hover {
  background-color: rgb(53, 236, 53);
  color: white;
  font-weight: 700;
  font-size: medium;
  transition: 1s;
}
.counter_container {
  display: flex;
  gap: 10px;
}

/* ================================================================================ */

.counter_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.counter_main_container button {
  min-width: 50px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: rgb(175, 244, 244);
  font-size: larger;
  color: rgb(69, 71, 72);
  font-weight: bold;
  cursor: pointer;
}
/* ------------- */
.todo_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.todo_first_container {
  display: flex;
  gap: 10px;
}
.todo_first_container input {
  padding: 8px;
  width: 500px;
}
.todo_data_container {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
