.main1_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.use_state1_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.use_state1_container button {
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid rgb(53, 236, 53);
  cursor: pointer;
}
.use_state1_container button:hover {
  background-color: rgb(53, 236, 53);
  color: white;
  font-weight: 700;
  font-size: medium;
  transition: 1s;
}
.counter_container {
  display: flex;
  gap: 10px;
}

/* ================================================================================ */

.counter_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.counter_main_container button {
  min-width: 50px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: rgb(175, 244, 244);
  font-size: larger;
  color: rgb(69, 71, 72);
  font-weight: bold;
  cursor: pointer;
}
/* ------------- */
.todo_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.todo_first_container {
  display: flex;
  gap: 10px;
}
.todo_first_container input {
  padding: 8px;
  width: 500px;
}
.todo_data_container {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
/* ------------- */

.list_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.search_Input {
  padding: 5px;
}
/* ------------- */

.product_card_container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.title_container {
  text-align: center;
}
.pagination_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.pagination_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_box {
  /* display: flex; */
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.active {
  background-color: bisque;
}
/* ======================== */

.tab_container {
  display: flex;
  gap: 2px;
}
.each_tab {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}
.active_tab {
  background-color: aquamarine;
}
.tab_body {
  display: flex;
  border: 3px double greenyellow;
  padding: 20px;
  height: 300px;
}
.profile_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tab_button_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tab_btn {
  padding: 10px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}
.error_msg {
  color: red;
  font-weight: 600;
}

/* =========================== */

.auto_search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.auto_search_container input {
  width: 500px;
  padding: 5px;
}
.suggest_container {
  width: 500px;
  padding: 5px;
  border: 1px solid black;
  max-height: 200px;
  overflow-y: scroll;
}

/* =========================== */
.progress_container {
  text-align: center;
}
.outer {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.inner {
  background: green;
  color: aliceblue;
  text-align: right;
  padding-right: 10px;
  transition: 0.5s ease-in;
}
